* {
  padding: 0;
  margin: 0;
}

body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.main-body {
  display: grid;
  grid-template-rows: 1fr 4fr;
  background-color: white;
  width: 98%;
  height: 95%;
  border-radius: 5px;
}

.left,
.center.,
.right {
}

.top {
  border: 3px rgb(60, 59, 59) solid;
  grid-row: 1/2;
}

.bottom {
  border: 3px blue solid;
  grid-row: 2/3;
}
