* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url("Roboto-Regular.ttf");
  font-weight: 200;
}

body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-height: 650px;
}

.main-body {
  display: grid;
  grid-template-rows: minmax(50px, 1fr) 4fr;
  background-color: white;
  width: 98%;
  height: 95%;
  border-radius: 5px;
  overflow: auto;
  min-height: fit-content;
}

.top {
  border: 3px rgb(60, 59, 59) solid;
  grid-row: 1/2;
  background-color: rgb(203, 246, 254);
}

.logo {
  height: 100%;
  width: auto;
}

.bottom {
  border: 3px rgb(2, 2, 2) solid;
  grid-row: 2/3;
  display: grid;
  /* Add with JS when using three columns */
  grid-template-columns: 1fr 1fr 1fr;
  /* Add with JS when using two columns */
  /* grid-template-columns: 1fr 1fr; */
}

.left,
.center {
  border: 1px black solid;
  display: grid;
  gap: 10px;
  grid-auto-rows: 25%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: max-content;
}

.right {
  border: 1px black solid;
  overflow: scroll;
  padding: 10px;
  min-width: min-content;
}

.new-todo-div {
  min-width: fit-content;
  border: red 1px solid;
  /* remove */
  /* display: none; */
  cursor: pointer;
}

.project {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: max-content;
}

.add-project-form ul {
  list-style: none;
}

.add-project-form li {
  padding-top: 5px;
}

.project-buttons-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-buttons-form input {
  width: 50%;
  cursor: pointer;
}

.todo {
  border: 1px solid red;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}

.todo-btns {
  display: flex;
  align-items: center;
}

.todo-btns > span,
.completed-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

h5 {
  padding-bottom: 4px;
}

.bin {
  margin-left: 10px;
}

.selected-todo {
  border: solid rgb(64, 198, 64) 1px;
  height: 100%;
}

h5 + p {
  font-size: 0.7rem;
}

.todo-details-list {
  padding: 15px;
  list-style: none;
}

.selected-todo > h3 {
  padding: 15px 0 0 15px;
}

.todo-detail-list-item {
  padding-bottom: 15px;
}

.todo-notes > p {
  color: blue;
  max-height: 100px;
  overflow: auto;
}

img {
  width: 30px;
}

.add-todo-form-list {
  list-style: none;
  border: black 1px solid;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* grid-template-columns: 1fr 1fr 1fr;
  gap: 15px; */
}

.add-todo-form-list > * {
  width: 200px;
}

.add-pointer {
  cursor: pointer;
}

textarea {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.add-todo-form-notes-list {
  padding: 15px;
  list-style: none;
}

.add-todo-form-notes-list > li {
  padding-top: 20px;
}

.add-todo-form-submit-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit {
  width: 15%;
  min-width: 50px;
}

.add-todo,
.add-project,
.project-refresh,
.bin {
  cursor: pointer;
}

label {
  display: block;
  font-size: 1em;
}
.center-add-todo-div {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-add-todo-button {
  padding: 10px;
  cursor: pointer;
}

.project-delete {
  align-self: flex-end;
  padding-right: 5px;
}

.hide-project-delete {
  visibility: hidden;
}
